# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Venv
.pip
.venv

# Private properties
.buildew

# Local databse
*.sqlite3

# Temporary files (it were creating during the build process)
.pub-build